.profile {
  background-color: #1f1f1f;
  position: relative;
  top: 100px;
  width: 320px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__image {
  border-radius: 50%;
  width: 35%;
  margin: 25px 0 10px;
}
.profile__name {
  margin: 0 0 8px 0;
}
.profile__direction {
  color: #dafa75;
  font-size: 12px;
  margin: 0;
}
.profile__description {
  color: #dedede;
  font-size: 11px;
}
.profile__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 15px;
  margin-bottom: 20px;
}
.profile__button {
  width: 85%;
  background-color: #333333;
  color: #fff;
  border-radius: 10px;
  height: 50px;
  border: none;
  font-weight: 600;
  transition-duration: 0.3s;
}

.profile__button:hover {
  transition: 500ms;
  background-color: #c4f82a;
  color: #000;
  cursor: pointer;
  filter: drop-shadow(2px 2px 2px #000);
  transform: scale(1.05);
}
